@model user
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Profile";
}
<form asp-action="Edit" method="post">
    
    <div class="form-group">
        <label asp-for="Username">Name</label>
        <input asp-for="Username" class="form-control" required minlenght="5" maxlength="12">
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" required minlength="8">
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" required minlenght="17">
    </div>

    <div class="form-group">
        <label asp-for="Phone">Phone Number</label>
        <input asp-for="Phone" class="form-control" required minlength="10" maxlenght="10">
    </div>
    <label asp-for="Ccnum">Credit Card</label>
    <input asp-for="Ccnum" class="form-control" required minlength="10" maxlenght="10">

    <input type="hidden" asp-for="userid" />
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="product" asp-action="Purchase" class="btn btn-primary">Cancel</a>
</form>